.gridContainer {
  display: grid;
  gap: 0.5px;
  grid-template-columns: repeat(4, 1fr);
  display: flexbox;
  justify-content: center;
}

.mainHeading {
  font-size: 50px;
  font-weight: bolder;
  margin-bottom: 30px;
  color: aliceblue;
}
